.Header {
    background-color: #f1f1f1; /* Example background color */
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.textbox input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.right ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.right li {
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
}

.right li:hover{
    background-color: skyblue;
}